body {
    margin: 0;
    padding: 0;
    
}

.header {
    text-align: center;
    padding: 500px; 
    background-image: url('/img/sadman.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;/* Juster padding for å passe størrelsen på overskriften */
 /* Erstatt 'path/to/your/image.jpg' med banen til ditt bilde */
    
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(4, 3, 3);
}

/* Resten av stilen for info-section, chart-section, text-section, etc. ... */


.second-section{
    max-width: 800px;
    margin-top: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;

}


.text-section1 {
    height: 800px;
    margin-top: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    background-image: url(/img/sad-youngman.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    
}

article{
    display: flex;
    align-items: center;
    justify-content:space-between;

}


.info-section,
.chart-section,
.text-section {
    max-width: 800px;
    margin-top: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.chart {
    width: 100%;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

.text-section h2 {
    color: #333;
}

.text-section p {
    margin-bottom: 15px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    width: 100%;
}
