body {
    margin: 0;
    padding: 0;
    
}

.header {
    text-align: center;
    padding: 500px; 
    background-image: url('/img/sadman.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;/* Juster padding for å passe størrelsen på overskriften */
 /* Erstatt 'path/to/your/image.jpg' med banen til ditt bilde */
    
    color: white;

}


.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    margin-top:100px;
}

/* Resten av stilen for info-section, chart-section, text-section, etc. ... */


.second-section{
    max-width: 800px;
    margin-top: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;

}




.text-section1 {
    height: 800px;
    margin-top: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    background-image: url(/img/sad-youngman.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    
}

article{
    display: flex;
    align-items: center;
    justify-content:space-between;

}


.info-section,
.chart-section,
.text-section {
    max-width: 800px;
    
    margin-bottom: 1000px;
    padding: 20px;
    background-color: white;
    
    width: 100%;
    text-align: center;
    margin: auto;
     /* Sentrer elementet horisontalt */
}

.chart {
    width: 100%;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

.text-section h2 {
    color: #333;
}

.text-section p {
    margin-bottom: 15px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    width: 100%;
}

.newcolor{
    background-color: white;
    width: 100%;
    margin-top: 50px;
}

.text-section:last-child {
    background-image: url('img/happyyoungmen.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* For å sikre at bakgrunnsbildet dekker hele høyden av visningen */
    color: white; /* Juster teksten til hvit farge for bedre synlighet */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  /* Media query for smaller screens */
@media screen and (max-width: 700px) {
    .header {
        padding: 100px;
    }

    .text-section1 {
        margin-top: 10px;
    }

    .second-section,
    .text-section1,
    .info-section,
    .chart-section,
    .text-section {
        padding: 10px;
        margin-top: 100px;
    }
}
  